<h1>Carts</h1>

<% if @items != [] %>

    <table >
      <thead>
      <tr>
        <th>id</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @items.each do |item| %>
          <tr>
            <td><%= item.inspect%></td>
            <td>
              <%= form_for :item, :url => carts_item_path(item),method: :patch do |form| %>
                  <%= form.number_field :quantity, id: :quantity %>
                  <%= submit_tag 'Change quantity', name: nil%>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <p>There are no items in cart yet</p>
<% end %>
<br />

Total cost:
<%= @cart.total_price  %>
