<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @discount.kind %>
</p>

<p>
  <strong>Name:</strong>
  <%= @discount.name %>
</p>

<p>
  <strong>Product ids:</strong>
  <%= @discount.product_ids %>
</p>

<p>
  <strong>Price:</strong>
  <%= @discount.price %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
